<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/hangngoi/search" method="get">
		<input type="text" name="ten" placeholder="nhập tên hàng cần tìm">
		<input type="submit" name="Submit" value="Tìm kiếm">
	</form>
	<table border="1">
		<tr>
			<td>TT</td>
			<td>Ten</td>
		</tr>
		<tr th:each="hangngoi, iterStat: ${hangngois}">
			<td th:text="${iterStat.count}"></td>
			<td th:text="${hangngoi.ten}"></td>
		</tr>
	</table>
	<button><a href="/hangngoi/add">Thêm hàng ngồi</a></button>
</body>
</html>