<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/vitrighe/save" method="get">
		<select name="idhang">
			<option th:each="hangngoi,iterStat: ${hangngois}" th:value="${hangngoi.id}" th:text="${hangngoi.ten}"></option>
		</select>
		<select name="idso">
			<option th:each="soghe,iterStat:${soghes}" th:value="${soghe.id}" th:text="${soghe.ten}"></option>
		</select>
		<input type="submit" name="Submit" value="Submit">
	</form>
</body>
</html>